button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.125em;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-secondary;
  }
}

.contact-button {
  @extend button;
  width: 170px;
  height: 35px;
}

@media screen and (min-width: 1024px) {
  .contact-button {
    height: 70px;
    font-size: 1.25em;
    font-weight: 700;
  }
}
