.media-modal {
  display: none;
  background-color: white;
  z-index: 15;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;

  .modal-close-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  .previous-media-button {
    height: min-content;
    width: min-content;
  }

  .next-media-button {
    height: min-content;
    width: min-content;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .media {
      height: 250px;
      width: 290px;

      img,
      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .modal-title {
      font-size: 0.8em;
      line-height: 1.12em;
      color: $color-primary;
      margin: 0;
      padding-top: 12px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .media-modal {
    .modal-close-button {
      position: absolute;
      right: 0;
      top: 0;
    }

    .previous-media-button {
      left: 9%;
    }

    .next-media-button {
      right: 9%;
    }

    .modal-content {
      .media {
        height: 850px;
        width: 1050px;
        box-sizing: border-box;
        padding-top: 40px;

        img,
        video {
          object-fit: initial;
        }
      }

      .modal-title {
        font-size: 1.5em;
        line-height: 1.9em;
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}
