@font-face {
  font-family: "DM Sans";
  src: url("assets/police/DM_Sans/DMSans-Regular.ttf");
}

body {
  font-family: "DM Sans", sans-serif;
  padding: 40px 25px;
  margin: 0;
}

@media screen and (min-width: 1024px) {
  body {
    padding: 40px 90px;
    margin: 0;
  }
}

a {
  text-decoration: none;
}
