@charset "UTF-8";
@font-face {
  font-family: "DM Sans";
  src: url("../../assets/police/DM_Sans/DMSans-Regular.ttf");
}
.body {
  font-family: "DM Sans", sans-serif;
  padding: 40px 25px;
  margin: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

@media screen and (min-width: 1024px) {
  .body {
    padding: 40px 90px;
    margin: 0;
  }
}
a {
  text-decoration: none;
}

.index-header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.index-header section h1 {
  font-size: 0.9em;
  color: #901c1c;
  font-weight: 400;
}

main header {
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  main header {
    padding: 50px;
    margin-top: 0;
    margin-bottom: 15px;
    min-width: 890px;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
    margin: -107px auto 0 !important;
    flex-wrap: wrap;
    width: calc(100% - 60%);
    justify-content: center;
  }

  h1 {
    font-size: 2.3em !important;
  }
}
.tag {
  text-align: center;
}

.photographer-informations ul,
.main-nav ul,
.main-content ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.photographer-informations ul li,
.main-nav ul li,
.main-content ul li {
  border: 0.5px solid #c4c4c4;
  border-radius: 40px;
  font-size: 0.8em;
  font-weight: 600;
  color: #901c1c;
  margin: 5px 5px 5px 0;
  padding: 5px 10px;
  cursor: pointer;
}
.photographer-informations ul li:active, .photographer-informations ul li:hover, .photographer-informations ul li[data-checked=true],
.main-nav ul li:active,
.main-nav ul li:hover,
.main-nav ul li[data-checked=true],
.main-content ul li:active,
.main-content ul li:hover,
.main-content ul li[data-checked=true] {
  color: #ffffff;
  background-color: #901c1c;
}
.photographer-informations ul a,
.main-nav ul a,
.main-content ul a {
  text-decoration: none;
  color: unset;
}

#filtersList li a {
  text-transform: capitalize;
}

.profil-photo, .profil-photo_small, .profil-photo_big {
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.profil-photo_big {
  width: 200px;
  height: 200px;
}

.profil-photo_small {
  width: 100px;
  height: 100px;
}

.profil-title {
  font-size: 2.25em;
  color: #d3573c;
  margin: 15px 0 0;
  font-weight: 400;
}

.localization {
  font-size: 1em;
  line-height: 1.4em;
  color: #901c1c;
  margin: 0;
}

.quote {
  font-size: 0.8em;
  line-height: 1.4em;
  color: #000000;
  margin: 4px 0;
}
.quote--grey {
  color: #525252;
}

.price {
  font-size: 0.8em;
  line-height: 1.4em;
  color: #525252;
  margin: 4px 0;
}

@media screen and (min-width: 1024px) {
  header section .profil-title {
    font-size: 4em !important;
  }
  header section .localization {
    font-size: 1.5em;
  }
  header section .quote {
    font-size: 1.125em;
    margin-bottom: 10px;
  }
  header section .profil-photo_small {
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 200px;
  }
}
.profil-pictures-list__picture {
  margin-bottom: 0;
}
.profil-pictures-list__picture .photographer-picture {
  width: 100%;
  height: 190px;
  border-radius: 5px;
  object-fit: cover;
  background-color: #c4c4c4;
}
.profil-pictures-list__picture h2 {
  font-size: 0.9em;
  line-height: 1.125em;
  color: #901c1c;
  text-transform: capitalize;
  flex: 1;
}
.profil-pictures-list__picture .profil-pictures-list__description {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.profil-pictures-list__picture .profil-pictures-list__description div {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  align-items: center;
  color: #901c1c;
  font-size: 0.9em;
  line-height: 1.125em;
}
.profil-pictures-list__picture .profil-pictures-list__description div p {
  font-size: 0.9em;
}
.profil-pictures-list__picture .profil-pictures-list__description div p:first-child {
  font-size: 0.9em;
  line-height: 1.125em;
  margin-right: 10px;
}
.profil-pictures-list__picture .profil-pictures-list__description div p:nth-child(2n) {
  display: contents;
}
.profil-pictures-list__picture .profil-pictures-list__description div .picture-likes {
  margin-right: 2px;
}
.profil-pictures-list__picture .profil-pictures-list__description div .heart {
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 1024px) {
  .profil-pictures-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0 95px;
  }
  .profil-pictures-list .profil-pictures-list__picture h2 {
    font-size: 1.5em;
    font-weight: 400;
  }
  .profil-pictures-list .profil-pictures-list__picture .photographer-picture {
    height: 300px;
  }
  .profil-pictures-list .profil-pictures-list__picture div p {
    font-size: 1.5em;
  }
  .profil-pictures-list .profil-pictures-list__picture div p:first-child {
    font-weight: 500;
    font-size: 1.5em;
  }
  .profil-pictures-list .profil-pictures-list__picture div p:nth-child(2n) {
    height: 24px;
    display: flex;
    align-items: center;
  }
  .profil-pictures-list .profil-pictures-list__picture div .heart {
    width: 18px;
    height: 18px;
  }
}
button, .heart-button, .contact-button, .submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.125em;
  cursor: pointer;
}

.modalButton, .next-media-button, .previous-media-button, .modal-close-button, .modal-close-button--white {
  background-color: unset;
  border: none;
}
.modalButton:before, .next-media-button:before, .previous-media-button:before, .modal-close-button:before, .modal-close-button--white:before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 600;
  color: #901c1c;
  font-size: 1em;
  background-color: unset;
}

.contact-button, .submit-button {
  width: 170px;
  height: 35px;
}
.contact-button:hover, .submit-button:hover, .contact-button:focus, .submit-button:focus {
  background-color: #d3573c;
}

.modal-close-button:before, .modal-close-button--white:before {
  content: "";
}

.modal-close-button--white:before {
  color: white;
}

.previous-media-button {
  padding: 0;
}
.previous-media-button:before {
  content: "";
}

.next-media-button {
  padding: 0;
}
.next-media-button:before {
  content: "";
}

.heart-button {
  background-color: unset;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .contact-button, .submit-button {
    height: 70px;
    font-size: 1.25em;
    font-weight: 700;
  }

  .modal-close-button:before, .modal-close-button--white:before,
.next-media-button:before,
.previous-media-button:before {
    font-size: 2em;
  }

  .submit-button {
    font-size: 1em;
  }
}
label {
  margin-right: 25px;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.4375em;
  height: 100%;
  vertical-align: top;
}

.sort .sort-button {
  width: 170px;
  justify-content: space-around;
  height: 70px;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  font-size: 1.125em;
  font-weight: 700;
  list-style: none;
  cursor: pointer;
}
.sort .sort-button::after {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}
.sort .sort-item-list:last-child, .sort .sort-item-list:nth-child(2n) {
  display: none;
}
.sort .buttonCollapsed {
  display: flex;
  width: 170px;
  height: 170px;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  background-color: #901c1c;
  color: white;
  border-radius: 5px;
  list-style: none;
  cursor: pointer;
  font-size: 1.125em;
  font-weight: 700;
}
.sort .buttonCollapsed::after {
  content: "";
  font-family: "Font Awesome 5 Free", sans-serif;
  position: relative;
  right: -62px;
  top: -150px;
  font-size: 0.7em;
  font-weight: 600;
  color: white;
  height: 0;
}
.sort .itemCollapsed {
  display: flex !important;
  height: calc(170px / 3);
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}
.sort .itemCollapsed:nth-child(2n) {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

aside {
  display: none;
}

@media screen and (min-width: 1024px) {
  aside {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    right: 36px;
    width: 375px;
    height: 70px;
    background-color: #db8876;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 1.5em;
  }
  aside #likesNumber {
    margin-right: 5px;
  }
  aside .heart {
    width: 18px;
    height: 18px;
    color: black;
  }
}
.evitement-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -30px auto;
  width: 180px;
  height: 30px;
  font-weight: bold;
  line-height: 1.4375em;
  text-align: center;
  font-size: 1.1em;
  color: transparent;
  border-radius: 5px;
  cursor: none;
  transition: all 200ms;
}
.evitement-link:focus {
  background-color: #d3573c;
  color: black;
}

.media-modal {
  display: none;
  background-color: white;
  z-index: 15;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
}
.media-modal .modal-close-button, .media-modal .modal-close-button--white {
  position: absolute;
  right: 0;
  top: 0;
}
.media-modal .previous-media-button {
  height: min-content;
  width: min-content;
}
.media-modal .next-media-button {
  height: min-content;
  width: min-content;
}
.media-modal .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.media-modal .modal-content .media {
  height: 250px;
  width: 290px;
}
.media-modal .modal-content .media img,
.media-modal .modal-content .media video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.media-modal .modal-content .modal-title {
  font-size: 0.8em;
  line-height: 1.12em;
  color: #901c1c;
  margin: 0;
  padding-top: 12px;
}

@media screen and (min-width: 1024px) {
  .media-modal .modal-close-button, .media-modal .modal-close-button--white {
    position: absolute;
    right: 0;
    top: 0;
  }
  .media-modal .previous-media-button {
    left: 9%;
  }
  .media-modal .next-media-button {
    right: 9%;
  }
  .media-modal .modal-content .media {
    height: 850px;
    width: 1050px;
    box-sizing: border-box;
    padding-top: 40px;
  }
  .media-modal .modal-content .media img,
.media-modal .modal-content .media video {
    object-fit: initial;
  }
  .media-modal .modal-content .modal-title {
    font-size: 1.5em;
    line-height: 1.9em;
  }
}
.no-scroll {
  overflow: hidden;
}

.modal-background {
  display: none;
  position: fixed;
  overflow: auto;
  z-index: 15;
  left: 0;
  top: 0;
  height: 100%;
}

.contact-modal {
  display: flex;
  min-height: 100%;
  position: relative;
  width: 100vw;
  background-color: #db8876;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.contact-modal .modal-close-button, .contact-modal .modal-close-button--white {
  position: absolute;
  right: 10px;
  top: 10px;
}
.contact-modal h1,
.contact-modal h2 {
  font-weight: normal;
  font-size: 2.25em;
  line-height: 1.3em;
  width: 100%;
}
.contact-modal h1 {
  margin: 0;
}
.contact-modal h2 {
  margin-top: 0;
}
.contact-modal form {
  width: 100%;
  font-size: 1em;
  line-height: 1.5em;
}
.contact-modal form .form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact-modal form input,
.contact-modal form textarea {
  border-radius: 5px;
  border-color: unset;
  border-style: none;
}
.contact-modal form input {
  height: 50px;
}
.contact-modal form textarea {
  min-height: 100px;
}
.contact-modal form label {
  color: #312e2e;
  font-weight: 400;
  margin-bottom: 5px;
}
.contact-modal form .submit-button-container {
  display: flex;
  justify-content: center;
}
.contact-modal form .submit-button {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

@media screen and (min-width: 1024px) {
  .modal-background {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .contact-modal {
    margin: 80px auto 0 auto;
    width: 570px;
    min-height: 790px;
  }
  .contact-modal h1,
.contact-modal h2 {
    font-size: 2.7em !important;
  }
  .contact-modal form {
    font-size: 1.5em;
  }
  .contact-modal form .submit-button-container {
    justify-content: flex-start;
    margin-top: 25px;
  }
}
ul {
  justify-content: center;
}

.main-content {
  margin-top: 50px;
}

@media screen and (min-width: 1024px) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px 15px;
  }
  .main-content article:nth-child(1n) {
    align-items: baseline;
  }
  .main-content article:nth-child(2n),
.main-content article:nth-child(5n) {
    align-items: center;
  }
  .main-content article:nth-child(4n) {
    align-items: baseline;
  }
  .main-content article:nth-child(3n),
.main-content article:nth-child(6n) {
    align-items: flex-end;
  }
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
article a {
  text-align: center;
}
article a h2 {
  width: 350px;
}
article .photographer-informations {
  text-align: center;
  width: 350px;
}
article .photographer-tag {
  width: 350px;
}

main header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
main header section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
main header .profil-photo--small,
main header .profil-photo--big {
  margin-top: 15px;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}
main header .profil-photo--big {
  display: none;
}
main header .profil-photo--small {
  display: flex;
}
main header .photographer-informations ul {
  justify-content: flex-start;
}
main .sort {
  display: none;
}
main .profil-pictures-list {
  margin-top: 40px;
}
main .photographer-title__contact-button {
  display: none;
}
main .contact-button_fixed {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
main .media {
  width: 100%;
  background-color: unset;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  main header {
    background-color: #fafafa;
    border-radius: 5px;
  }
  main header .profil-photo--big {
    display: flex;
  }
  main header .profil-photo--small {
    display: none;
  }
  main header section,
main header .profil-photo--big,
main header .profil-photo--small {
    margin-bottom: 0;
  }
  main header section .photographer-title,
main header .profil-photo--big .photographer-title,
main header .profil-photo--small .photographer-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  main .sort {
    display: flex;
    position: absolute;
    z-index: 10;
  }
  main .profil-pictures-list {
    margin-top: 100px;
  }
  main .contact-button_fixed {
    display: none;
  }
  main .photographer-title__contact-button {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
