header {
  .evitement-link {
    display: none;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    h1 {
      font-size: 0.9em;
      color: $color-primary;
      font-weight: 400;
    }
  }
}

main {
  header {
    margin-top: 25px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding: 0 70px 110px 0;

    .evitement-link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -30px auto;
      width: 180px;
      height: 30px;
      font-weight: bold;
      line-height: 23px;
      text-align: center;
      font-size: 1.1em;
      background-color: transparent;
      color: transparent;
      border-radius: 5px;
      cursor: none;
      transition: all 200ms;

      &:focus {
        background-color: #db8876;
        color: black;
      }
    }
  }

  .main-nav {
    display: flex;
    margin: -107px auto 0 !important;
    flex-wrap: wrap;
    width: calc(100% - 60%);
    justify-content: center;
  }

  h1 {
    font-size: 2.3em !important;
  }

  img {
    width: 200px;
  }

  main {
    header {
      padding: 50px;
    }
  }
}
